/*content*/

header {
    text-align: justify;
}

header:after {
    content: '';
    width: 100%;
    display: inline-block;
}

header #header {
    display: inline-block;
    position: relative;
    top: 1em;
}

header #header h1 a {
    color: #a9a9a9;
    display: block;
}

header nav {
    display: inline-block;
    position: relative;
    top: 1em;
}

header nav span {
    margin: .5em;
}

header nav a {
    color: #ccc;
}


#content_nav {
    position: fixed;
    right: 5.5%;
    bottom: 8%;
    background-color: #bb2222;
    opacity: 0.5;
    color: #fff !important;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    z-index: 1000;
}

#content_nav_t {
    display: block;
    font-style: normal;
}


@media screen and (max-width: 1023px) {
    header {
        width: 90%;
        margin: auto;
    }
}


@media screen and (min-width: 1024px) {
    header {
        width: 800px;
        margin: 3em auto;
    }
}