@charset "UTF-8";

@import url(framework/fonts.css);
@import url(framework/sidebar.css);
@import url(framework/header.css);
@import url(framework/footer.css);
@import url(framework/divider.css);
@import url(framework/listing.css);

:root {
    --base-select-font-color: #fff;
    --base-select-backgroup-color: #777;

    --base-font-color: #555;
    --base-backgroup-color: #f9f9f9;

    --base-link-color: #bb2222;
    --base-link-hover-color: #dd1144;
    --base-dark-link-hover-color: #b96969;

    --base-s-light-color: #999;
    --base-l-light-color: #ccc;
    --base-xl-light-color: #e0e0e0;
    --base-xxl-light-color: #eee;
}


* {
    margin: 0;
    padding: 0;
}

::selection {
    color: var(--base-select-font-color);
    background-color: var(--base-select-backgroup-color);
}

::-moz-selection {
    color: var(--base-select-font-color);
    background-color: var(--base-select-backgroup-color);
}

::-webkit-selection {
    color: var(--base-select-font-color);
    background-color: var(--base-select-backgroup-color);
}

body {
    font-size: 14px;
    font-family: "telexregular", "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
    color: var(--base-font-color);
    background-color: var(--base-backgroup-color);
}


a {
    text-decoration: none;
    color: var(--base-link-color);
}

a:hover {
    color: var(--base-link-hover-color);
}

time {
    font-family: "Ubuntu", monospace;
}

div#content {
    margin: 0 auto;
    line-height: 2em;
}

div#content .main-listing {
    margin-bottom: 2em;
}

@media screen and (max-width: 1023px) {
    div#content {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    div#content {
        width: 800px;
    }
}