<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
    <meta name="author" content="{{ site.author }}" />
    {% if site.google-site-verfication %}
    <meta name="google-site-verification" content="{{ site.google-site-verfication }}" />
    {% endif %}
    {% if site.baidu-site-verfication %}
    <meta name="baidu-site-verification" content="{{ site.baidu-site-verfication }}" />
    {% endif %}
    <title>{{site.name}}-{{ page.title }}</title>
    <link rel="shortcut icon" href="{{ site.icon-path }}">
    {% feed_meta %}

    <link rel="stylesheet" href="/{{ site.theme_dir }}/{{ site.theme_name }}/css/templates/{{ page.layout }}.css">
    <link rel="stylesheet" href="/{{ site.theme_dir }}/{{ site.theme_name }}/css/third/github.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- <link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css"> -->

    <script src="/{{ site.theme_dir }}/{{ site.theme_name }}/javascript/third/jquery.min.js"></script>
    <script src="/{{ site.theme_dir }}/{{ site.theme_name }}/javascript/third/toc.bower.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <!-- <script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script> -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/x86asm.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/nginx.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/languages/sql.min.js"></script>
</head>