---
layout: default
---

<article>
  <section class="post">
    {{ content }}

    <ul class="nagging">
      <div class="divider">
        <span> 
          {% assign naglast = site.nagging.last.title | split:'-' | last %}
          {% assign nagfirst = site.nagging.first.title | split:'-' | last %}
          {% assign nagcurrent = page.title | split:'-' | last %}
          {% assign nagpre = nagcurrent | minus:1 %}
          {% assign nagnext = nagcurrent | plus:1 %}
          {% assign nagpreurl = '/nagging/year.html' | replace_first:'year',nagpre %}
          {% assign nagnexturl = '/nagging/year.html' | replace_first:'year',nagnext %}
      
          {% if nagfirst < nagcurrent %}
          <a href="{{ nagpreurl }}"><i class="fa fa-chevron-left"></i></a>
          {% else %}
          <i class="fa fa-circle"></i>
          {% endif %}
        </span>

        <span>
          {% if naglast > nagcurrent %}
          <a href="{{ nagnexturl }}"><i class="fa fa-chevron-right"></i></a>
          {% else %}
          <i class="fa fa-circle"></i>
          {% endif %}
        </span>
      </div>

    </ul>
  </section>
</article>

