.gitment-comments-empty {
    display: none;
}

a.gitment-editor-footer-tip {
    display: none !important;
}

div.gitment-container.gitment-footer-container {
    display: none;
}


div.gitment-comment-header {
    background-color: transparent;
}