footer {
    display: block;
    color: var(--base-s-light-color);
    font-size: .9em;
    text-align: center;
    margin: 1em auto;
}

footer a {
    color: var(--base-l-light-color);
}

@media screen and (max-width: 1023px) {
    footer {
        width: 90%;
    }
}

@media screen and (min-width: 1024px) {
    footer {
        width: 800px;
    }
}