/*content*/

.fa-wiki:before {
    content: "\f02d";
}

header {
    text-align: justify;
}

header:after {
    content: '';
    width: 100%;
    display: inline-block;
}

header #title {
    display: inline-block;
    position: relative;
    top: 1em;
}

header>#title>h1 {
    font-size: 1.4em;
}

header>#title>h1>a {
    color: var(--base-s-light-color);
    display: block;
}

header>#title>h1>a:hover {
    color: var(--base-link-hover-color);
}

header nav {
    display: inline-block;
    position: relative;
    top: 1em;
}

header nav span {
    margin: 0.5em;
}

header nav a {
    color: var(--base-l-light-color);
}

header nav a:hover {
    color: var(--base-link-hover-color);
}

@media screen and (max-width: 1023px) {
    header {
        width: 90%;
        margin: auto;
    }
}

@media screen and (min-width: 1024px) {
    header {
        width: 800px;
        margin: 3em auto;
    }
}