:root {
    --toc-backgroud-color: #262a30;
}

#toc_switch {
    position: fixed;
    right: 5.5%;
    bottom: 8%;
    background-color: var(--base-link-color);
    opacity: 0.5;
    color: var(--base-select-font-color) !important;
    width: 30px;
    height: 30px;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    z-index: 1000;
}

#toc_switch_t {
    display: block;
    font-style: normal;
}


#toc {
    background-color: var(--toc-backgroud-color);
    display: none;
    position: fixed;
    height: 100vh;
    width: 200px;
    right: 0;
    bottom: 0;
    overflow-y: scroll;
    top: 0;
    z-index: 9999;
}


#toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}

#toc li {
    padding: 2px 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em !important;
    text-decoration: none;
    display: block;
}

#toc li a {
    color: var(--base-s-light-color);
}

#toc .toc-active a {
    color: var(--base-dark-link-hover-color);
}

#toc li.toc-h3 {
    padding-left: 35px;
}

#toc li.toc-h4 {
    padding-left: 55px;
}

#toc_body {
    display: none;
    background-color: translate;
    width: calc(100% - 200px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}