pre {
    margin: 0.6125em 0;
    position: relative;
}

pre>code {
    background-color: var(--block-background-color);
    padding: 0 1em;
    border: 1px dashed var(--base-xxl-light-color) !important;
    border-color: var(--base-xl-light-color) !important;
    font-size: 13px;
    line-height: 1.6;
    display: block;
    overflow: auto;
    font-family: "Ubuntu", monospace;
}

pre>code:nth-of-type(2) {
    padding-left: 38px !important;
}

pre>code {
    padding: 0.5em;
}

code {
    background-color: var(--base-xxl-light-color);
    border: 1px dashed var(--base-xl-light-color);
    font-family: "Ubuntu", monospace;
    margin: 0px 1px;
}


code.code_line {
    position: absolute;
    left: 2px;
    top: 1px;
    margin: 0px;
    border: 0px !important;
    background: var(--base-xxl-light-color);
    padding: 6.5px 0 6.5px 7.5px;
}